:root {
	--radius: 0.5rem;

	--shadow-sm: none;
	--shadow-md: none;
	--shadow-lg: none;

	--background: #eff2f6;

	--status-operational: #10b981;
	--status-degraded: #f59e0b;
	--status-partial-outage: #fb923c;
	--status-major-outage: #ef4444;
	--status-maintenance: #8b5cf6;

	--spacing-section: 3rem;
	--spacing-card: 1rem;
}

.dark {
	--color-neutral-900: #0f121a;
	--color-neutral-800: #191c24;
	--color-neutral-700: #21242d;
	--color-neutral-600: #2d313c;
	--color-neutral-500: #424757;
	--color-neutral-400: #585e72;
	--color-neutral-300: #70778c;
	--color-neutral-200: #8a91a5;
	--color-neutral-100: #a7acbb;
	--color-neutral-50: #e5e7eb;
	--white: #ffffff;

	--background: var(--color-neutral-900);
	--card: var(--color-neutral-800);
	--popover: var(--color-neutral-800);
	--popover-foreground: var(--color-neutral-100);

	--border: var(--color-neutral-700);
	
	--foreground: var(--white);
	--muted-foreground: var(--color-neutral-200);
	--card-foreground: var(--color-neutral-100);

	--accent: var(--color-neutral-700);
	--accent-foreground: var(--color-neutral-100);
	--muted: var(--color-neutral-800);

	--secondary: var(--color-neutral-700);
	--secondary-foreground: var(--color-neutral-200);

	--status-operational: #10b981;
	--status-degraded: #f59e0b;
	--status-partial-outage: #fb923c;
	--status-major-outage: #ef4444;
	--status-maintenance: #8b5cf6;
	--status-unknown: var(--color-neutral-600);
}

.dark .bg-white {
	background-color: var(--color-neutral-800) !important;
}

.dark h1,
.dark h2,
.dark h3,
.dark .text-foreground,
.dark .text-card-foreground {
	color: var(--color-neutral-50);
}

[class*="shadow"] {
	box-shadow: none !important;
}

.border {
	border-width: 1px;
}

* {
	transition-duration: 150ms;
	transition-timing-function: ease-in-out;
}

@keyframes subtle-ping {
	0% {
		transform: scale(1);
		opacity: 0.75;
	}
	50% {
		transform: scale(1.25);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 0.75;
	}
}
